
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 10px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
}

article {
  flex: 1;
  margin-right: 10px;
}

aside {
  flex: 1;
  background-color: #f4f4f4;
  padding: 25px;
  text-align: center;
  border-radius: 20px;
}

aside img {
  border-radius: 15px;
  width: 100%;
  height: auto;
}


/* Awal footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer ul {
  list-style: none;
  padding: 0;
  font-size: 12px;
}
footer ul li {
  display: inline;
  margin-right: 10px;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

